html, body *{
  background-color: lightblue;
}
h1{
  font-size: xx-large;
  font-family: cursive;
  border: solid solid black 10px;
  text-align: center;
}
h2 {
  text-align: center;
}
.float-left {
  width: 33%;
  float: left;
  margin-left: 7%;
  }
.float-right {
  width: 45%;
  float: right;
  margin-right: 15%;
  }
.float-logo {
width: 100px;
height: 100px;
overflow: hidden;
border: solid 1px white;
position: relative;
margin-left: 60px;
margin-top: 120px;
}
.float-banner {
width: 1350px;
height: 200px;
overflow: hidden;
position: absolute;
}
img{
  height:100px;
  width: 100px;
  border-radius: 25%;
}
.img-circle {
    border-radius: 50%;
}
table {
  border: solid black 1px;
}
th {
  text-decoration: underline;;
}
tr {
  border: solid black 5px;
}

a:hover,
  a.selected {
  color: lightyellow;
  }
a:visited{
  background: yellow;
}
td:hover {
  background: yellow; }
td:visited{
  background: yellow;
}
.highlight {
  background: yellow;
}
